<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" href="static/login-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Itim&amp;display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
    </style>
</head>

<body>
    <div class="main-bg">
        <div class="auth-right">

        </div>
        <div class="login-rectangle">

            <img src="static/log.png" alt="log" class="log">
        </div>
        <div class="login-content">
            <img src="static/logo.png" alt="logo" class="logo">
            <h3 class="login-text">Login</h3>

            <form class="login-form" method="post">
                <input type="text" class="user-name-input" name="username" placeholder="     Username" required>
                <input type="password" class="user-pass-input" name="password" placeholder="    Password" required>
                <button type="submit" class="btn-login" name="login">Login</button>
                <p class="new-sign">Don’t have account?<a href="{{url_for('signup')}}">Signup</a></p>
            </form>

            </form>


        </div>
    </div>

    </div>

</body>

</html>