<!DOCTYPE html>
<html lang="en">

<head>
    <title>Success</title>
    <link rel="stylesheet" href="static/success-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
    </style>
</head>

<body>
    <div class="main-bg">
        <div class="auth-right">

        </div>
        <div class="success-rectangle">

            <img src="static/log.png" alt="log" class="log">
        </div>
        <div class="success-content">
            <img src="static/logo.png" alt="logo" class="logo">
            <h3 class="success-text">Account creation successful !!</h3>
            <img src="static/tick.png" alt="success" class="tick">
            <p class="go-back">Go back to <a href="{{url_for('login')}}">Login</a></p>
        </div>
    </div>

    </div>

</body>

</html>